

body{
    background-color: #E0FFFF;
}

.frame{
    margin: 30px 150px;
    display: flex;
    flex-direction: column;
}


/*navigator*/

.navigator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li{
    display: inline;
    align-self: center;
    margin:0;
    margin-left: 15px;
}

ul{
    margin:0;
}

.site-name{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #B0C4DE;
}

.nav-menu{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    color: rgb(134, 134, 134);
    transition: 0.3s;
}




/*footer*/


.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.contact{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: black;
    margin-bottom: 40px;
    border-bottom: 2px solid black;
}

.links>a{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-left: 15px;
}

.footer>p{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    font-size: 15px;
    font-style: italic;
    margin: 0;
    margin-top: 5px;
}


/*profile-section*/

.profile-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    margin: 80px 80px;
}


#profile-picture{
    width: 400px;
    margin-right: 70px;
}

.introduction>h2{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
}

.introduction>p{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 16px;

    margin-bottom: 40px;
}

#keyword{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 15px;
    font-style: italic;

    line-height: 30px;
}


/*favorite section*/

#favorite-menu{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    margin: 30px 100px;
}

.favorite-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    margin: 100px 150px;
    margin-top: 20px;
}

.favorite{
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    align-items: center;
}


.favorite-icon{
    width: 100px;
    height: 100px;

    border: 2px solid #B0C4DE;
    border-radius: 100px;
    padding: 15px;
}

.favorite-intro{
    margin-left: 30px;
}


.favorite-name{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.favorite-exp{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-size: 16px;

    margin: 0px;
}


/*footer section*/

.footer-comment{
    text-align: center;
}

#contact{
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    margin: 30px 100px;

a[title="Freepik"]:hover{
    color: black;
    text-decoration: underline;
}

a[title="Flaticon"]:hover{
    color: black;
    text-decoration: underline;
}